.screenshotOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: crosshair;
    // background: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9998;
}

.selection {
    border: 2px dashed #000;
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    // z-index: 999999;
}
